.marge {
margin-top:18px;
}


.couleur{
    background-color:

    #e6ffe6;
}

.jamais {
    margin-top:18px;
    margin-bottom: 18px;
}

.bor {
    border: 1px solid gray;
}

ul li {
    text-decoration: none;
}


button {
    background-color:blue;
}

a:link{
    text-decoration: none;
}


.element {
    display:grid;
    grid-template-columns: auto auto auto;
}
